h1, body{
    text-align: center;
    font-family: Arial;
}
.banana{
    text-align: center;
    font-size: 80px;
    background-image: linear-gradient(to bottom right, #fffdd6, #ffc500);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
img{
    width: 90%;
    height: 40%;
}