h1, body{
    text-align: center;
    font-family: Arial;
}
.banana{
    text-align: center;
    font-size: 80px;
    background-image: linear-gradient(to bottom right, #fffdd6, #ffc500);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.toyota{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 50;
    font-size: 40px;
}
hr { 
    border-color: lightgray;
}

label{
    float: left;
    margin-left: 30%;
    font-size: 20px;
}

input{
    width: 40%;
    height: 40px !important;
    margin-bottom: 20px;
}

.red-submit{
    margin-top: 15px;
    background-color: red;
    border-color: red;
    color: white;
    height: 55px !important;
    font-size: 17px;
}

h3{
    padding-top: 10px;
    margin-left: 50px;
    text-align: left;
}

.left-icon{
    width: 40px;
    height: 40px;
}

.footer {
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 100px;
    background-color: lightgray;
    text-align: center;
}
.footer-header{
    color: black;
    background-color: lightgray;
}

.accordion {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f0f1f2;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    border: none;
    outline: none;
    transition: 0.4s;
    
}
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

img{
    width: 90%;
    height: 40%;
}